.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.openSource {
  text-align: center;
  margin-top: 2rem;
  opacity: 0.6;
  font-size: 0.9rem;
}
